<nz-list nzBordered nzItemLayout="horizontal" [nzLoading]="loading" class="list">
  <nz-list-header>
    <h5 nz-typography>
      {{ title }}
    </h5>
  </nz-list-header>
  <cdk-virtual-scroll-viewport itemSize="40" class="viewport">
    <ng-container *ngIf="type === 'tracks'">
      <app-track-list-item [track]="track" *cdkVirtualFor="let track of page"></app-track-list-item>
    </ng-container>
    <ng-container *ngIf="type === 'artists'">
      <app-artist-list-item [artist]="artist" *cdkVirtualFor="let artist of page"></app-artist-list-item>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <nz-list-empty *ngIf="tracks.length === 0 && artists.length === 0"></nz-list-empty>
  <nz-divider></nz-divider>
  <nz-list-footer nz-row nzJustify="end">
    <nz-pagination
      nz-col
      [nzPageIndex]="1"
      [nzPageSize]="pageSize"
      [nzTotal]="tracks.length + artists.length"
      (nzPageIndexChange)="getPageData($event)"
    ></nz-pagination>
  </nz-list-footer>
</nz-list>

