<nz-list nzBordered nzItemLayout="horizontal" [nzLoading]="loading" class="list">
  <nz-list-header class="header">
    {{ title }}
  </nz-list-header>
  <cdk-virtual-scroll-viewport itemSize="60" class="viewport">
    <app-artist-list-item [artist]="artist" *cdkVirtualFor="let artist of page"></app-artist-list-item>
  </cdk-virtual-scroll-viewport>
  <nz-list-empty *ngIf="artists.length === 0"></nz-list-empty>
  <nz-divider></nz-divider>
  <nz-list-footer nz-row nzJustify="end">
    <nz-pagination
      nz-col
      [nzPageIndex]="1"
      [nzPageSize]="pageSize"
      [nzTotal]="artists.length"
      (nzPageIndexChange)="getPageData($event)"
    ></nz-pagination>
  </nz-list-footer>
</nz-list>
