<nz-list nzBordered nzItemLayout="horizontal" [nzLoading]="boolLoading" class="list">
  <nz-list-header class="header">
    {{ title }}
  </nz-list-header>
  <app-music-list-item [track]="song" *ngFor="let song of page"></app-music-list-item>
  <nz-list-empty *ngIf="tracks.length === 0"></nz-list-empty>
  <nz-divider></nz-divider>
  <nz-list-footer nz-row nzJustify="end">
    <nz-pagination
      nz-col
      [nzPageIndex]="1"
      [nzPageSize]="pageSize"
      [nzTotal]="tracks.length"
      (nzPageIndexChange)="getPageData($event)"
    ></nz-pagination>
  </nz-list-footer>
</nz-list>
